body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden; 
  justify-content: center;
  align-items: center;
}

.inicio-tela-preco {
  position: relative;
  height: 100vh;
}
.background-tela-preco {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/v159_155.png');
}

.logo1-tela-preco {
  width: 40vh;
  color: rgba(64,46,50,1);
  position: absolute;
  top: 1vh;
  left: 6vh;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Dancing Script;
  font-weight: Bold;
  font-size: 6vh;
  text-align: center;
  text-decoration: none;
}
.logo2-tela-preco {
  width: 334vh;
  color: rgba(64,46,50,1);
  position: absolute;
  top: 8vh;
  left: 16vh;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 2.5vh;
  opacity: 1;
  text-decoration: none;
}

.precos{
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: rgba(34,28,78,1);;
}

.inicio,
.precos,
.agendar,
.servicos {
  display: inline;
  position: relative;
  top: 4vh;
  left: 105vh;
  font-size: 1.5rem;
  color: rgba(64,46,50,1);
  font-family: Poppins;
  font-weight: bold;
  text-align: center;
  margin-right: 2rem;
  cursor: pointer;
 
}


.figura-tela-preco {
  width: 32vh;
  height: 56vh;
  background: url("../images/v154_4676.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42vh;
  left: 1vh;
}
.tabela-precos {
  width: 95vh;
  height: 47vh;
  background: rgba(242,230,232,1);
  position: absolute;
  top: 33vh;
  left: 50vh;
  border: 0px solid rgba(150,150,150,1);
  border-radius: 9vh;
  box-shadow: 30px 30px 10px #40387980;

}

.tabela1-agendar-agora {
  width: 21vh;
  height: 5vh;
  background: rgba(34,28,78,1);
  opacity: 0.5;
  position: absolute;
  top: 72vh;
  left: 60vh;
  border: 0px solid rgba(150,150,150,1);
  border-radius: 20vh;
}
.tabela1-nome-agendar-agora {
  width: 15vh;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 73.5vh;
  left: 62.5vh;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 1.5vh;
  text-align: center;
}

.tabela1-valor {
  width: 10vh;
  color: rgba(34,28,78,1);
  position: absolute;
  top: 38vh;
  left: 58vh;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 5vh;
  opacity: 1;
  text-align: left;
}
.tabela1-frase-direita-valor {
  width: 16vh;
  color: rgba(131,128,153,1);
  position: absolute;
  top: 40vh;
  left: 71vh;
  font-family: Poppins;
  font-size: 1.7vh;
  opacity: 1;
  text-align: left;
}

.tabela1-frase1 {
  width: 24vh;
  color: rgba(34,28,78,1);
  position: absolute;
  top: 44vh;
  left: 60vh;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 2vh;
  opacity: 1;
  text-align: left;
}
.tabela1-frase2 {
  width: 20vh;
  color: rgba(34,28,78,1);
  position: absolute;
  top: 53.5vh;
  left: 60vh;
  font-family: Poppins;
  font-size: 1.8vh;
  opacity: 1;
  text-align: left;
}

.tabela1-microagulhamento,
.tabela1-pele-de-vidro,
.tabela1-microblanding {
  width: 16vh;
  color: rgba(131,128,153,1);
  top: 17.6vh;
  left: 63vh;
  font-family: Poppins;
  font-size: 2vh;
  display: grid;
  text-align: left;
  position: relative;
  margin-bottom: 1vh;
}

.tabela1-sinal1,
.tabela1-sinal2,
.tabela1-sinal3 {
  width: 2vh;
  height: 2vh;
  display: grid;
  margin-bottom: 2vh;
  position: relative;
  background: url("../images/v351_52.png");
  background-size: cover;
  top: 30vh;
  left: 60vh;
}
.tabela2-microagulhamento,
.tabela2-pele-de-vidro,
.tabela2-microblanding {
  width: 16vh;
  color: rgba(131,128,153,1);
  top: 42vh;
  left: 93vh;
  font-family: Poppins;
  font-size: 2vh;
  display: grid;
  text-align: left;
  position: relative;
  padding: 0.5vh;
}
.tabela2-nome-agendar-agora {
  width: 15vh;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 73.5vh;
  left: 92.5vh;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 1.5vh;
  text-align: center;
}
.tabela2-valor {
  color: rgba(34,28,78,1);
  position: absolute;
  top: 38vh;
  left: 86vh;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 5vh;
  text-align: left;
}
.tabela2-frase-direita-valor {
  width: 16vh;
  color: rgba(131,128,153,1);
  position: absolute;
  top: 39vh;
  left: 99vh;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 1.7vh;
  text-align: left;
}
.tabela2-sinal1,
.tabela2-sinal2,
.tabela2-sinal3 {
  width: 2vh;
  height: 2vh;
  display: grid;
  margin-bottom: 2vh;
  position: relative;
  background: url("../images/v351_52.png");
  background-size: cover;
  top: 55vh;
  left: 90vh;
}
.tabela2-frase1 {
  width: 25vh;
  color: rgba(34,28,78,1);
  position: absolute;
  top: 53vh;
  left: 90vh;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 2vh;
  text-align: left;
}
.tabela2-frase2 {
  width: 25vh;
  color: rgba(34,28,78,1);
  position: absolute;
  top: 45vh;
  left: 90vh;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 1.8vh;
  text-align: left;
}
.tabela2-agendar-agora {
  width: 21vh;
  height: 5vh;
  background: rgba(34,28,78,1);
  opacity: 0.5;
  position: absolute;
  top: 72vh;
  left: 90vh;
  border: 0px solid rgba(150,150,150,1);
  border-radius: 20vh;
}

.tabela3 {
  width: 30vh;
  height: 60vh;
  background: rgba(214,173,96,1);
  position: absolute;
  top: 29vh;
  left: 117vh;
  border: 1px solid rgba(151,151,151,1);
  border-radius:2.6vh;
  box-shadow: 0px 42px 34px rgba(0.32156863808631897, 0.26274511218070984, 0.7607843279838562, 0.30000001192092896);
}
.tabela3-mais-popular {
  width: 12vh;
  height: 2.7vh;
  background: rgba(63,56,121,1);
  position: absolute;
  top: 33vh;
  left: 130vh;
  border: 0px solid rgba(150,150,150,1);
  border-radius: 1.3vh;
}
.tabela3-agendar-agora {
  width: 21vh;
  height: 5vh;
  background: rgba(187,107,217,1);
  opacity: 1;
  position: absolute;
  top: 72vh;
  left: 122vh;
  border-radius: 20vh;
}

.tabela3-mais-popular-frase {
  width: 25vh;
  color: rgba(187,107,217,1);
  position: absolute;
  top: 33.5vh;
  left: 124vh;
  font-family: Poppins;
  font-weight: ExtraBold;
  font-size: 1.3vh;
  text-align: center;
}
.tabela3-valor {
  color: rgba(255,255,255,1);
  position: absolute;
  top: 36vh;
  left: 120vh;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 5vh;
  text-align: left;
}
.tabela3-frase-direita-valor {
  width: 10vh;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 37.5vh;
  left: 134vh;
  font-family: Poppins;
  font-size: 1.7vh;
  text-align: center;
}
.tabela3-frase1 {
  width: 28vh;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 43vh;
  left: 120vh;
  font-family: Poppins;
  font-size: 2vh;
  text-align: left;
}
.tabela3-frase2 {
  width: 32vh;
  color: rgba(132,129,153,1);
  position: absolute;
  top: 52vh;
  left: 120vh;
  font-family: Poppins;
  font-size: 2vh;
  opacity: 1;
  text-align: left;
}

.tabela3-nome-agendar-agora {
  width: 20vh;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 73vh;
  left: 122.5vh;
  font-family: Poppins;
  font-size: 2vh;
  text-align: center;
  cursor: pointer;
}
.tabela3-microagulhamento,
.tabela3-pele-de-vidro,
.tabela3-microblanding {
  color: rgba(131,128,153,1);
  top: 6vh;
  left: 125vh;
  font-family: Poppins;
  font-size: 2vh;
  display: grid;
  text-align: left;
  position: relative;
  padding: 0.5vh;
}

.tabela3-sinal1,
.tabela3-sinal2,
.tabela3-sinal3 {
  width: 2vh;
  height: 2vh;
  display: grid;
  margin-bottom: 2vh;
  position: relative;
  background: url("../images/v351_52.png");
  background-size: cover;
  top: -5vh;
  left: 122vh;
}
@media screen and (max-width: 100vh) {

  .inicio-tela-inicial {
    position: relative;
    height: 100vh;
  }
  
  .background-tela-inicial {
    position: absolute;
    width: 100%;
    height: 100%;
  } 
  
  .logo1-tela-preco {
      width: 255;
      font-size: 100%;
      left: 1vh;
      
    }
    .logo2-tela-preco {
      width: 120vh;
      font-size: 2vh;
      left: 3vh;
      top: 6vh;
    }
    .inicio,
    .precos,
    .agendar,
    .servicos {
      font-size: 2vw;
      left: auto;
      margin-right: 1rem;
      top: 3vh;
    }
    .figura-tela-preco {
      width: 40vw;
      height: 20vh;
      top: 20vh;
      left: 2vw;
    }
    .tabela-precos {
      width: 90vw;
      height: 35vh;
      top: 50vh;
      left: 5vw;
    }
    .tabela1-agendar-agora {
      width: 21vh;
      height: 5vh;
      background: rgba(34,28,78,1);
      opacity: 0.5;
      position: absolute;
      top: 72vh;
      left: 60vh;
      border: 0px solid rgba(150,150,150,1);
      border-radius: 20vh;
    }
    .tabela1-nome-agendar-agora {
      width: 15vh;
      color: rgba(255,255,255,1);
      position: absolute;
      top: 73.5vh;
      left: 62.5vh;
      font-family: Poppins;
      font-weight: Medium;
      font-size: 1.5vh;
      text-align: center;
    }
    
    .tabela1-valor {
      width: 10vh;
      color: rgba(34,28,78,1);
      position: absolute;
      top: 38vh;
      left: 58vh;
      font-family: Poppins;
      font-weight: Bold;
      font-size: 5vh;
      opacity: 1;
      text-align: left;
    }
    .tabela1-frase-direita-valor {
      width: 16vh;
      color: rgba(131,128,153,1);
      position: absolute;
      top: 40vh;
      left: 71vh;
      font-family: Poppins;
      font-size: 1.7vh;
      opacity: 1;
      text-align: left;
    }
    
    .tabela1-frase1 {
      width: 24vh;
      color: rgba(34,28,78,1);
      position: absolute;
      top: 44vh;
      left: 60vh;
      font-family: Poppins;
      font-weight: Medium;
      font-size: 2vh;
      opacity: 1;
      text-align: left;
    }
    .tabela1-frase2 {
      width: 20vh;
      color: rgba(34,28,78,1);
      position: absolute;
      top: 53.5vh;
      left: 60vh;
      font-family: Poppins;
      font-size: 1.8vh;
      opacity: 1;
      text-align: left;
    }
    
    .tabela1-microagulhamento,
    .tabela1-pele-de-vidro,
    .tabela1-microblanding {
      width: 16vh;
      color: rgba(131,128,153,1);
      top: 17.6vh;
      left: 63vh;
      font-family: Poppins;
      font-size: 2vh;
      display: grid;
      text-align: left;
      position: relative;
      margin-bottom: 1vh;
    }
    
    .tabela1-sinal1,
    .tabela1-sinal2,
    .tabela1-sinal3 {
      width: 2vh;
      height: 2vh;
      display: grid;
      margin-bottom: 2vh;
      position: relative;
      background: url("../images/v351_52.png");
      background-size: cover;
      top: 30vh;
      left: 60vh;
    }


    .tabela2-agendar-agora {
      width: 21vh;
      height: 5vh;
      background: rgba(34,28,78,1);
      opacity: 0.5;
      position: absolute;
      top: 72vh;
      left: 60vh;
      border: 0px solid rgba(150,150,150,1);
      border-radius: 20vh;
    }
    .tabela2-nome-agendar-agora {
      width: 15vh;
      color: rgba(255,255,255,1);
      position: absolute;
      top: 73.5vh;
      left: 62.5vh;
      font-family: Poppins;
      font-weight: Medium;
      font-size: 1.5vh;
      text-align: center;
    }
    
    .tabela2-valor {
      width: 10vh;
      color: rgba(34,28,78,1);
      position: absolute;
      top: 38vh;
      left: 58vh;
      font-family: Poppins;
      font-weight: Bold;
      font-size: 5vh;
      opacity: 1;
      text-align: left;
    }
    .tabela2-frase-direita-valor {
      width: 16vh;
      color: rgba(131,128,153,1);
      position: absolute;
      top: 40vh;
      left: 71vh;
      font-family: Poppins;
      font-size: 1.7vh;
      opacity: 1;
      text-align: left;
    }
    
    .tabela2-frase1 {
      width: 24vh;
      color: rgba(34,28,78,1);
      position: absolute;
      top: 44vh;
      left: 60vh;
      font-family: Poppins;
      font-weight: Medium;
      font-size: 2vh;
      opacity: 1;
      text-align: left;
    }
    .tabela2-frase2 {
      width: 20vh;
      color: rgba(34,28,78,1);
      position: absolute;
      top: 53.5vh;
      left: 60vh;
      font-family: Poppins;
      font-size: 1.8vh;
      opacity: 1;
      text-align: left;
    }
    
    .tabela2-microagulhamento,
    .tabela2-pele-de-vidro,
    .tabela2-microblanding {
      width: 16vh;
      color: rgba(131,128,153,1);
      top: 17.6vh;
      left: 63vh;
      font-family: Poppins;
      font-size: 2vh;
      display: grid;
      text-align: left;
      position: relative;
      margin-bottom: 1vh;
    }
    
    .tabela2-sinal1,
    .tabela2-sinal2,
    .tabela2-sinal3 {
      width: 2vh;
      height: 2vh;
      display: grid;
      margin-bottom: 2vh;
      position: relative;
      background: url("../images/v351_52.png");
      background-size: cover;
      top: 30vh;
      left: 60vh;
    }



    .tabela3 {
      width: 30vh;
      height: 60vh;
      background: rgba(214,173,96,1);
      position: absolute;
      top: 29vh;
      left: 117vh;
      border: 1px solid rgba(151,151,151,1);
      border-radius:2.6vh;
      box-shadow: 0px 42px 34px rgba(0.32156863808631897, 0.26274511218070984, 0.7607843279838562, 0.30000001192092896);
    }
    .tabela3-mais-popular {
      width: 12vh;
      height: 2.7vh;
      background: rgba(63,56,121,1);
      position: absolute;
      top: 33vh;
      left: 130vh;
      border: 0px solid rgba(150,150,150,1);
      border-radius: 1.3vh;
    }
    .tabela3-agendar-agora {
      width: 21vh;
      height: 5vh;
      background: rgba(187,107,217,1);
      opacity: 1;
      position: absolute;
      top: 72vh;
      left: 122vh;
      border-radius: 20vh;
    }
    
    .tabela3-mais-popular-frase {
      width: 25vh;
      color: rgba(187,107,217,1);
      position: absolute;
      top: 33.5vh;
      left: 124vh;
      font-family: Poppins;
      font-weight: ExtraBold;
      font-size: 1.3vh;
      text-align: center;
    }
    .tabela3-valor {
      color: rgba(255,255,255,1);
      position: absolute;
      top: 36vh;
      left: 120vh;
      font-family: Poppins;
      font-weight: Bold;
      font-size: 5vh;
      text-align: left;
    }
    .tabela3-frase-direita-valor {
      width: 10vh;
      color: rgba(255,255,255,1);
      position: absolute;
      top: 37.5vh;
      left: 134vh;
      font-family: Poppins;
      font-size: 1.7vh;
      text-align: center;
    }
    .tabela3-frase1 {
      width: 28vh;
      color: rgba(255,255,255,1);
      position: absolute;
      top: 43vh;
      left: 120vh;
      font-family: Poppins;
      font-size: 2vh;
      text-align: left;
    }
    .tabela3-frase2 {
      width: 32vh;
      color: rgba(132,129,153,1);
      position: absolute;
      top: 52vh;
      left: 120vh;
      font-family: Poppins;
      font-size: 2vh;
      opacity: 1;
      text-align: left;
    }
    
    .tabela3-nome-agendar-agora {
      width: 20vh;
      color: rgba(255,255,255,1);
      position: absolute;
      top: 73vh;
      left: 122.5vh;
      font-family: Poppins;
      font-size: 2vh;
      text-align: center;
      cursor: pointer;
    }
    .tabela3-microagulhamento,
    .tabela3-pele-de-vidro,
    .tabela3-microblanding {
      color: rgba(131,128,153,1);
      top: 6vh;
      left: 125vh;
      font-family: Poppins;
      font-size: 2vh;
      display: grid;
      text-align: left;
      position: relative;
      padding: 0.5vh;
    }
    
    .tabela3-sinal1,
    .tabela3-sinal2,
    .tabela3-sinal3 {
      width: 2vh;
      height: 2vh;
      display: grid;
      margin-bottom: 2vh;
      position: relative;
      background: url("../images/v351_52.png");
      background-size: cover;
      top: -5vh;
      left: 122vh;
  }
}